# Build and Output
target/
bin/
build/
test-output/
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.factorypath
.apt_generated/

# VS Code
.vscode/

# OS Specific
.DS_Store
Thumbs.db

# Cucumber/Reporting
cucumber-reports/
spark-reports/
*.log